<p id="notice"><%= notice %></p>

<h1>Liste des Utilisateurs</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Rue</th>
      <th>Code postal</th>
      <th>Ville</th>
      <th>Telephone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @utilisateurs.each do |utilisateur| %>
      <tr>
        <td><%= utilisateur.nom %></td>
        <td><%= utilisateur.prenom %></td>
        <td><%= utilisateur.rue %></td>
        <td><%= utilisateur.code_postal %></td>
        <td><%= utilisateur.ville %></td>
        <td><%= utilisateur.telephone %></td>
        <td><%= utilisateur.email %></td>
        <td><%= link_to 'Show', utilisateur %></td>
        <td><%= link_to 'Edit', edit_utilisateur_path(utilisateur) %></td>
        <td><%= link_to 'Destroy', utilisateur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvel Utilisateur', new_utilisateur_path %>
