<p id="notice"><%= notice %></p>

<h1>Liste des Utilisateurs</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>NOM</th>
      <th>PRENOM</th>
      <th>RUE</th>
      <th>CODE POSTAL</th>
      <th>VILLE</th>
      <th>TELEPHONE</th>
      <th>EMAIL</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @utilisateurs.each do |utilisateur| %>
      <tr>
        <td><%= utilisateur.id %></td>
        <td><%= utilisateur.nom %></td>
        <td><%= utilisateur.prenom %></td>
        <td><%= utilisateur.rue %></td>
        <td><%= utilisateur.code_postal %></td>
        <td><%= utilisateur.ville %></td>
        <td><%= utilisateur.telephone %></td>
        <td><%= utilisateur.email %></td>
        <td><%= link_to 'Voir', utilisateur %></td>
        <td><%= link_to 'Editer', edit_utilisateur_path(utilisateur) %></td>
        <td><%= link_to 'Supprimer', utilisateur, method: :delete, data: { confirm: 'Etes-vous sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Nouvel Utilisateur', new_utilisateur_path %>
