<p id="notice"><%= notice %></p>

<div class="informations">
   <p>
  <strong>ID :</strong>
  <%= @utilisateur.id %>
  </p>
  <p>
  <strong>Nom :</strong>
  <%= @utilisateur.nom %>
  </p>

  <p>
  <strong>Prénom :</strong>
  <%= @utilisateur.prenom %>
  </p>

  <p>
  <strong>Rue :</strong>
  <%= @utilisateur.rue %>
  </p>

  <p>
  <strong>Code postal :</strong>
  <%= @utilisateur.code_postal %>
  </p>

  <p>
  <strong>Ville :</strong>
  <%= @utilisateur.ville %>
  </p>

  <p>
  <strong>Telephone:</strong>
  <%= @utilisateur.telephone %>
  </p>

  <p>
  <strong>Email :</strong>
  <%= @utilisateur.email %>
  </p>
</div>

<%= link_to 'Editer', edit_utilisateur_path(@utilisateur) %>


<div class="btn btn-alert"
<%= link_to 'Retour', utilisateurs_path %>>
</div>
